.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__title_content {
  margin-top: 100px;
  margin-bottom: 0;
}

.reservation__form {
  max-width: 385px;
  border: none;
}

.reservation__form-container {
  padding-top: 0;
  margin: 0;
}

.reservation__form_label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.reservation__form_field {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
}

.reservation__form_field::placeholder {
  color: #838383;
}

.reservation__button {
  max-width: 385px;
  width: 100%;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  margin-bottom: 32px;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__form_checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-bottom: 120px;
  display: inline;
}

.reservation__form_checkbox[type="checkbox"] {
  margin-right: 12px;
}

.reservation__form_checkbox + .reservation__form_label {
  margin: 0;
  padding: 0;
}
